#alexapi secrets file

AWS_ACCESS_KEY='YOUR_ACCESS_KEY'
AWS_SECRET_KEY='YOUR_SECRET_KEY'
AWS_REGION='us-east-1'

BUCKET_NAME='YOUR-BUCKET-NAME'
SQS_QUEUE='https://sqs.us-east-1.amazonaws.com/YOURACCOUNT/YOURQUEUE1'
SQS_QUEUE2='https://sqs.us-east-1.amazonaws.com/YOURACCOUNT/YOURQUEUE2'
